form#create-reminder-main.form-inline.alert.alert-success
	fieldset
		.control-group
			input(type="text",name="title",placeholder="What do you need to remember?")
			button.btn.btn-primary.btn-large.create Create Reminder

#create-reminder-details-dialog.modal.fade.hide
	header.modal-header
		a.close(data-dismiss="modal") x
		h3 Reminder Details
	.modal-body
		form.form-horizontal(action="/reminders",method="POST")
			fieldset
				.control-group
					label.control-label(for="reminder-details-what") What
					.controls
						input.input-xlarge#reminder-details-what(type="text",name="what")

				.control-group
					label.control-label When
					.controls
						input.span2(name="when")
						span @
						select.span1(name="hours")
							each val in [1,2,3,4,5,6,7,8,9,10,11,12]
								option(value="#{val}") #{val}
						select.span1(name="minutes")
							each val in [0, 15, 30, 45]
								option(value="#{val}") #{val}
						select.span1(name="amPm")
							option(value="AM") AM
							option(value="PM") PM


				.control-group
					label.control-label Remind Me
					.controls
						select(name="reminderOffset")
							option(value="0") 0 minutes before
							option(value="5") 5 minutes before
							option(value="15") 15 minutes before
							option(value="30") 30 minutes before
							option(value="45") 45 minutes before
							option(value="60") 1 hour before
							option(value="120") 2 hours before
							option(value="240") 4 hours before
							option(value="720") 12 hours before
							option(value="1440") 1 day before

				.control-group
					label.control-label Using
					.controls
						- if(accounts.email)
							label.checkbox.inline Email
								input(type="checkbox",value="email",name="reminderTypes")
						- if(accounts.facebook)
							label.checkbox.inline Facebook
								input(type="checkbox",value="facebook",name="reminderTypes")
						- if(accounts.twitter)
							label.checkbox.inline Twitter
								input(type="checkbox",value="twitter",name="reminderTypes")
						- if(accounts.sms)
							label.checkbox.inline SMS
								input(type="checkbox",value="sms",name="reminderTypes")

	footer.modal-footer
		button.btn.btn-primary.create	Create Reminder