header.navbar
	.navbar-inner
		.container
			a.brand(href="#") Reminders
			ul.nav
				li.active
					a(href="#") Home
			ul.nav.pull-right
				- if (req.isSignedIn)
					li
						a#sign-out(href="#") Sign Out
				- else
					li
						a#sign-in(href="#") Sign In