header.navbar.navbar-inverse
	.navbar-inner
		.container
			a.brand(href="/") MegaReminders
			- if (req.isSignedIn)
				ul.nav
					li(class=req.pageName == 'home' ? 'active' : '')
						a(href="/") Home
					li(class=req.pageName == 'accounts' ? 'active' : '')
						a(href="/accounts") Accounts
				ul.nav.pull-right
					li
						a#sign-out(href="/signout") Sign Out
			- else
				include sign_in_navbar

