header.navbar
	.navbar-inner
		.container
			a.brand(href="#") Reminders
			ul.nav
				li.active
					a(href="#") Home
				li
					a(href="#") Link
				li
					a(href="#") Link
			ul.nav.pull-right
				li
					a(href="#") Sign-In