#home-hero.row
	.span12
		.hero-unit
			h1 Hero Unit
			p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			p
				a.btn.btn-primary.btn-large Learn more