.row
	.span12
		.alert.alert-info
			a.close x
			h4.alert-heading Valentine's Day
			div	Valentine's Day is coming soon!&nbsp;
				a.quick-reminder(data-what="Valentine's Day",data-month="02",data-day="14",data-year="2012",data-hours="12",data-minutes="0",data-am-pm="AM",data-reminder-offset="1440",href="#")	Create a reminder so you don't forget!

.row
	.span12
		include includes/create_reminder_main

.row
	.span8
		include includes/upcoming_reminders
	.span4
		include includes/advertisements