doctype html
html
	head
		include includes/head
		block head
	body
		#wrap.container
			include includes/navbar
			#container.container
				block main
			include includes/footer
			include includes/scripts
			block scripts