doctype html
html
	head
		include includes/head
	body
		#wrap.container
			include includes/navbar
			#container.container
				.row
					.span12!= body
			include includes/footer
			include includes/scripts