#create-reminder-main {  padding: 20px; }
#create-reminder-main input[name="title"] { padding-left: 20px; height: 40px; font-size: 26px; line-height: 26px; width: 720px; }
#create-reminder-main button.create { height: 50px; border-radius: 0 5px 5px 0; }