.row
	.span12
		.alert.alert-success
			h4.alert-heading Email Confirmed
			div	Your email account: #{email} is confirmed! You're ready to set email reminders so you'll no longer forget things ever again!
.row
	.span12
		p
			a(href="/") Return home.